.questionsMain button {
  width: 80%;
  height: 67px!important;
  background: #006cce;
  color: white;
  margin-left: 40px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  font-size: x-large!important;
}

.hintPop {
margin-top: 5px;
  width:  100px;
margin-left:  40px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
 
 
}
